* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$roboto: "Roboto";
$cursive_font: "Satisfy";
$round: "Varela Round";
$cta: #fe8033;
$bg: #272b34;
$light_bg: #2b3039;
$text: #2d343e;
$white: #ffffff;

body {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: $round;
}
